$white:       #ffffff;
$lightBlue:   #4bcaff;
$featuresBg:  #f9f9f9;


$Lato:  'Lato', sans-serif;
$OpenSans:      'Open Sans', sans-serif;

$fontSize1: 13px;
$fontSize2: 15px;
$fontSize3: 18px;
$fontSize4: 16px;
$fontSize5: 20px;
$fontSize6: 36px;
$fontSize7: 46px;
$fontSize8: 33px;
$fontSize9: 25px;
$fontSize10: 29px;


