<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URLAUBSGLÜCK</title>
  <link rel="stylesheet" href="public/dist/all.min.css"/>
  <link rel="stylesheet" href="src/css/jquery.bxslider.css"/>
  <link rel="shortcut icon" href="public/img/icon_4p.png" type="image/png">
  <link href='https://fonts.googleapis.com/css?family=Montserrat:700,400,300,200,100' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,100' rel='stylesheet' type='text/css'>

  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

  <!--[if lte IE 8]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.3/jquery.xdomainrequest.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>
  <script src="public/js/jquery.bxslider.min.js"></script>
  <script src="public/js/tmpl.js"></script>
  <script src="public/js/main.js"></script>

</head>
<body>
<header>
  <div class="wrapper">
    <div class="clearfix">
      <div class="enter-box clearfix">
        <a href="#" class="enter-box__log-in">Log in</a>
        <a href="#" class="enter-box__sing-up">Sign up</a>
      </div>
      <h1 class="title title--header">URLAUBSGLÜCK</h1>
    </div>
    <h2 class="subtitle">SHARE YOUR<br> HOLIDAY DREAMS</h2>

    <h3 class="subtitle-item">And find the perfect partner to fullfill it</h3>
    <a href="" class="title-link">Find your holiday partner</a>
  </div>
</header>
<div class="content wrapper">

  <div class="sliders clearfix">
    <h3 class="sliders__title">How Urlaubsglück works?</h3>

    <div class="sliders__box">
      <ul class="bxslider">
        <li>
          <div class="slide-1">
            <p class="slide-1__step">STEP 1</p>
            <h4 class="slide-1__title">Sed leo enim, condimentum</h4>

            <p class="slide-1__content">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec
              rhoncus a leo sit amet facilisis.</p>
          </div>
        </li>
        <li>
          <div class="slide-2">
            <p class="slide-2__step">STEP 2</p>
            <h4 class="slide-2__title">Morbi velit risus</h4>

            <p class="slide-2__content">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet
              porttitor est.</p>
          </div>
        </li>
        <li>
          <div class="slide-3">
            <p class="slide-3__step">STEP 3</p>
            <h4 class="slide-3__title">Sed leo enim, condimentum</h4>

            <p class="slide-3__content">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec
              rhoncus a leo sit amet facilisis.</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="sliders__box">
      <ul class="bxslider">
        <li>
          <div class="slide-2">
            <p class="slide-2__step">STEP 2</p>
            <h4 class="slide-2__title">Morbi velit risus</h4>

            <p class="slide-2__content">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet
              porttitor est.</p>
          </div>
        </li>

        <li>
          <div class="slide-3">
            <p class="slide-3__step">STEP 3</p>
            <h4 class="slide-3__title">Sed leo enim, condimentum</h4>

            <p class="slide-3__content">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec
              rhoncus a leo sit amet facilisis.</p>
          </div>
        </li>

        <li>
          <div class="slide-1">
            <p class="slide-1__step">STEP 1</p>
            <h4 class="slide-1__title">Sed leo enim, condimentum</h4>

            <p class="slide-1__content">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec
              rhoncus a leo sit amet facilisis.</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="sliders__box">
      <ul class="bxslider">
        <li>
          <div class="slide-3">
            <p class="slide-3__step">STEP 3</p>
            <h4 class="slide-3__title">Sed leo enim, condimentum</h4>

            <p class="slide-3__content">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec
              rhoncus a leo sit amet facilisis.</p>
          </div>
        </li>
        <li>
          <div class="slide-1">
            <p class="slide-1__step">STEP 1</p>
            <h4 class="slide-1__title">Sed leo enim, condimentum</h4>

            <p class="slide-1__content">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec
              rhoncus a leo sit amet facilisis.</p>
          </div>
        </li>
        <li>
          <div class="slide-2">
            <p class="slide-2__step">STEP 2</p>
            <h4 class="slide-2__title">Morbi velit risus</h4>

            <p class="slide-2__content">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet
              porttitor est.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="users ">
    <h3 class="users__title">Meet a partner for your best holiday</h3>

    <div class="users__container clearfix">

      <div class="users__box">
        <div class="user">
          <div class="user__img1"></div>
          <p class="user__name">Bradley Hunter</p>

          <p class="user__about">Based in Chicago. I love playing tennis and loud music.</p>
        </div>
      </div>
      <div class="users__box">
        <div class="user">
          <div class="user__img2"></div>
          <p class="user__name">Lucas Marsha</p>

          <p class="user__about">I get my inspiration from nature and objects around me. I have a passion to colours,
            typography and skateboards.</p>
        </div>
      </div>
      <div class="users__box">
        <div class="user">
          <div class="user__img3"></div>
          <p class="user__name">Heather Walker</p>

          <p class="user__about">I'm a happy person that loves cats and climbing on mountains.</p>
        </div>
      </div>
      <div class="users__box">
        <div class="user">
          <div class="user__img4"></div>
          <p class="user__name">Bradley Hunter</p>

          <p class="user__about">Based in Chicago. I love playing tennis and loud music.</p>
        </div>
      </div>
    </div>
    <a href="#" class="user__other">See other partners</a>
  </div>

  <div class="tile">
    <h3 class="tile__title">Discover holiday activity ideas</h3>

    <div class="tile__box clearfix">
      <script type="text/html" id="tile__masonry">

        <div class="grid ">
          <div class="grid__sizer"></div>
          <div class="grid__item">
            <img class="grid__img" src="<%= images[0].imageurl %>" alt="">

            <p class="grid__text"><%= images[0].word%></p></div>
          <div class="grid__item">
            <img class="grid__img" src="<%= images[1].imageurl %>" alt="">

            <p class="grid__text"><%= images[1].word%></p></div>
          <div class="grid__item">
            <img class="grid__img" src="<%= images[2].imageurl %>" alt="">

            <p class="grid__text"><%= images[2].word%></p></div>
          <div class="grid__item">
            <img class="grid__img" src="<%= images[3].imageurl %>" alt="">

            <p class="grid__text"><%= images[3].word%></p></div>
          <div class="grid__item grid__item--width2">
            <img class="grid__img" src="<%= images[4].imageurl %>" alt="">

            <p class="grid__text"><%= images[4].word%></p></div>
          <div class="grid__item grid__item--width2">
            <img class="grid__img" src="<%= images[5].imageurl %>" alt="">

            <p class="grid__text"><%= images[5].word%></p></div>
          <div class="grid__item">
            <img class="grid__img" src="<%= images[6].imageurl %>" alt="">

            <p class="grid__text"><%= images[6].word%></p></div>
        </div>
      </script>
    </div>
  </div>

  <div class="search">
    <h3 class="search__title">Discover holiday activity ideas</h3>

    <p class="search__item">Hi! What are your holiday interests?</p>

    <form class="search__container clearfix" action="">
      <input class="search__input" type="text" placeholder="Enter your interests"/>
      <button class="search__button">Search partners</button>
    </form>
  </div>
</div>

<footer>
  <div class="wrapper">
    <div class="footer__container clearfix">
      <h1 class="title title--footer">URLAUBSGLÜCK</h1>

      <div class="footer__company-box">
        <p class="footer__subtitle footer__subtitle--company">Company</p>
        <ul class="footer__menu clearfix">
          <li><a href="#">About</a></li>
          <li><a href="#">Contacts</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
      <p class="footer__subtitle footer__subtitle--partners">Partners</p>

      <div class="footer__logo-box clearfix">
        <p class="footer__design">DESIGNED BY</p>
        <img class="footer__logo" src="public/img/logoMobile.png" alt="no logo"/>
      </div>
    </div>
  </div>
</footer>


</body>
</html>