$s-mobile-width:   320px;
$mobile-width:   480px;
$tablet-width:   768px;
$desktop-width:  1024px;

@mixin s-mobile{
  @media (min-width: #{$mobile-width}) {
    @content;
  }
}
@mixin mobile{
  @media (min-width: #{$mobile-width}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

