@import "variables";
@import "mixin";

@font-face {
  font-family: "Legue gothic"; /* ָל רנטפעא */
  src: url(../../build/fonts/leaguegothic-regular-webfont.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face {
  font-family: "Open Sans"; /* ָל רנטפעא */
  src: url(../../build/fonts/OpenSans-Light.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face {
  font-family: "Open Sans Extrabold"; /* ָל רנטפעא */
  src: url(../../build/fonts/OpenSans-ExtraBold.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
html {
  font: 16px "Open Sans", sans-serif;
}
header {
  background: url("../../build/img/bg_img.png") no-repeat center;
  background-size: cover;
}

.wrapper {
  margin: 0 auto;
  padding: 70px 20px 0;
  box-sizing: border-box;
  @include desktop {
    width: 960px;
  }
}

.header-container {
  @include desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.main-logo {
  text-align: center;
  @include tablet {
    text-align: left;
  }
  @include desktop {
    width: 152px;
  }
}

.menu {
  text-transform: uppercase;
  font-family: "Legue gothic", sans-serif;
  list-style: none;
  @include tablet {
    display: flex;
  }
  @include desktop {
    align-items: center;
  }
}

.menu__header {
  margin-top: 50px;
  display: none;
  font-size: 24px;
  @include tablet {
    display: flex;
  }
  @include desktop {
    margin-top: 0;
  }
}

.menu li {
  margin-right: 40px;
  @include desktop {
    margin-right: 60px;
  }
}

.menu a {
  color: #fff;
  text-decoration: none;
}

.menu a:hover {
  border-bottom: 2px solid #edbfff;
  text-shadow: 0 0 2px rgba(210, 210, 210, 1);
}

.menu-box {
  position: relative;
  padding: 0 16px;
  text-align: center;
  text-transform: uppercase;
}

.menu-btn {
  display: block;
  margin: 10px auto;
  width: 32px;
  height: 32px;
  border: none;
  background: url("../../build/img/menu-button.png");
  @include tablet {
    display: none;
  }
}
.menu-btn{
  cursor: pointer;
}
.menu__mobile {

  @include tablet {
    display: none;
  }
}


.dropdown-menu {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  padding: 10px 20px;
  background: rgba(74, 62, 81, 0.9);
  border: 1px solid #4a3e51;
  box-sizing: border-box;
  z-index: 200;
}
.dropdown-menu li {
  margin: 10px;
  list-style: none;
  font: 24px "Legue gothic", sans-serif;

}
.dropdown-menu a{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.dropdown-menu a:hover{
  border-bottom: 2px solid #edbfff;
}
.close-menu{
  display: block;
  float: right;
  background: url("../../build/img/cancel.png") no-repeat;
  height: 32px;
  width: 32px;
  border: none;
  transition: 0.2s;
}

.close-menu:hover{
  //transform: rotate(90deg);
  cursor: pointer;
}

//SLIDER
.slider-container {
  position: relative;
  margin-top: 70px;
  padding: 0 15% 5px;
  @include mobile {
    padding: 0 5% 5px;
  }
}

.slider-container:before {
  position: absolute;
  content: "";
  display: none;
  top: 40px;
  left: 0;
  width: 100%;
  height: 360px;
  background: rgba(0, 0, 0, 0.2);
  @include tablet {
    display: block;
  }
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-text-box {
  width: 100%;
  margin-left: 10%;
  font: 36px "Legue gothic", sans-serif;
  color: #fff;
  box-sizing: border-box;
  @include mobile {
    margin-left: 5%;
    width: 200px;
  }
  @include tablet {
    width: 320px;
  }
  @include desktop {
    width: 500px;

  }
}

.slide-title {
  @include desktop {
    font-size: 60px;
  }
}

.slide-img {
  display: none;
  background: url("../img/iphone_960.png") no-repeat center;
  background-size: contain;
  @include mobile {
    display: block;
    width: 200px;
    height: 300px;
  }
  @include tablet {
    height: 420px;
    width: 320px;
  }
}

.slide-subtitle {
  font-size: 22px;
  color: #edbfff;
  @include desktop {
    font-size: 32px;
  }
}

.slide-snippet {
  font: 16px "Open Sans", sans-serif;
  display: none;
  @include tablet {
    display: block;
    line-height: 20px;
    height: 80px;
    overflow: hidden;
  }
  @include desktop {
    font-size: 18px;
  }
}

//ABOUT

.about {
  background: #674973;
  border-top: 1px solid #34273b;
  color: #fff;
  padding-bottom: 10px;
  //box-sizing: border-box;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  @include tablet {
    flex-wrap: nowrap;
  }
}

.info-box {
  display: flex;
  margin-bottom: 30px;
}

.about-text-box h3 {
  font: 24px "Legue gothic", sans-serif;
  @include desktop {
    font-size: 30px;
  }
}

.about-text-box p {
  margin-right: 20px;
  font: 16px "Open Sans", sans-serif;
  //text-align: justify;
  line-height: 24px;
  height: 72px;
  overflow: hidden;
  @include tablet {
    height: 144px;
  }
}

.about-text-box a {
  float: right;
  margin: 15px 10px 0;
  font: 20px "Legue gothic", sans-serif;
  text-transform: uppercase;
}

.about-text-box a:hover {
  cursor: pointer;
  text-shadow: 0 0 2px rgba(210, 210, 210, 1);
}

.about-icon__key {
  margin-right: 20px;
  background: url("../img/about_sprites.png") 0 0 no-repeat;
  height: 30px;
  width: 30px;
}

.about-icon__key:hover {
  background-position: 0 -36px;
}

.about-icon__say {
  margin-right: 20px;
  background: url("../img/about_sprites.png") -32px 0 no-repeat;
  height: 30px;
  width: 36px;
}

.about-icon__say:hover {
  background-position: -32px -36px;
}

.about-icon__music {
  margin-right: 20px;
  background: url("../img/about_sprites.png") -66px 0 no-repeat;
  height: 30px;
  width: 36px;
}

.about-icon__music:hover {
  background-position: -66px -36px;
}

//MAIN

main {
  background: #f9f9f9;
  padding-bottom: 80px;
  border-bottom: 1px solid #e6e6e6;
}

.blog {
  @include tablet {
    display: flex;
    justify-content: space-around;
  }
}

.main-user-box {
  padding-left: 20px;
}

.main-user {
  padding-left: 20px;
  @include tablet {
    width: 48%;
    box-sizing: border-box;
  }
}

.user-container {
  position: relative;
  margin-bottom: 40px;
  padding: 30px 36px;

  background: #fff;
  box-shadow: 0 0 2px 0 rgba(50, 50, 50, 0.1);
}

.user-container:before {
  position: absolute;
  content: "";
  background: url("../img/user_img.png") no-repeat;
  width: 48px;
  height: 48px;
  left: -24px;
  top: 20px;
}

.user-container:after {
  position: absolute;
  content: "";
  left: 80%;
  top: 100%;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-top: 25px solid #fff;

}

.user-container h3 {
  text-transform: uppercase;
  color: #454545;
  font: 24px "Legue gothic", sans-serif;
}

.user-container h3 span {
  color: #edbfff;
}

.user-container p {
  height: 168px;
  color: #454545;
  font: 16px "Open Sans", sans-serif;
  line-height: 24px;
  overflow: hidden;
}

.main-text {
  color: #454545;
  @include tablet {
    width: 48%;
    box-sizing: border-box;
  }
}

.main-text h2 {
  text-transform: uppercase;
  font: 30px "Legue gothic", sans-serif;
}

.main-text a {
  text-transform: uppercase;
}

.text-box {
  position: relative;
  margin: 5px 5px 20px 65px;
}

.text-box:before {
  position: absolute;
  content: "";
  background: url("../img/blog_img.png");
  display: block;
  left: -60px;
  height: 49px;
  width: 49px;
}

.text-box h3 {
  font-size: 16px;
  font-family: "Open Sans Extrabold", sans-serif;
}

.text-box p {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
  height: 24px;
  overflow: hidden;
}

main a {
  float: right;
  margin: 0 10px 0;
  font: 20px "Legue gothic", sans-serif;
  color: #454545;
}

main a:hover {
  cursor: pointer;
  text-shadow: 0 0 2px rgba(210, 210, 210, 1);
}

//LOGOS
.logos {
  border-top: 1px solid #fefefe;
  padding-bottom: 50px;
  background: #f9f9f9;
}

.logos-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  margin-bottom: 20px;
  list-style: none;
  height: 80px;
  width: 80%;
  @include mobile {
    width: 30%;
  }
  @include tablet {
    width: 15%;
  }
}

.logo-1 {
  background: url("../img/logo-1.png") no-repeat center;
}

.logo-2 {
  background: url("../img/logo-2.png") no-repeat center;
}

.logo-3 {
  background: url("../img/logo-3.png") no-repeat center;
}

.logo-4 {
  background: url("../img/logo-4.png") no-repeat center;
}

.logo-5 {
  background: url("../img/logo-5.png") no-repeat center;
}

.logo-6 {
  background: url("../img/logo-6.png") no-repeat center;
}

//FOOTER

footer {
  text-align: center;
  height: 200px;
  color: #fff;
  background: url("../img/footer_320.png") no-repeat center;
  box-sizing: border-box;
  font-size: 12px;
  @include tablet {
    text-align: right;
  }
}

.menu__footer {
  display: none;
  @include tablet {
    display: flex;
  }
}

.menu__footer li {
  font-size: 20px;
}

.footer-container {
  @include desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
}

footer p {
  @include tablet {
    margin-top: 40px;
    @include desktop {
      margin-top: 0;
    }
  }
}

footer p span {
  font-family: "Open Sans Extrabold", sans-serif;
}