$white:       #ffffff;
$mainColor:   #ff4e50;
$lightGrey:   #cccccc;
$grey:        #666666;
$darkGrey:    #333333;

$Montserrat:  'Montserrat', sans-serif;
$Roboto:      'Roboto', sans-serif;

$fontSize1:   14px;
$fontSize2:   18px;
$fontSize3:   20px;
$fontSize4:   22px;
$fontSize5:   24px;
$fontSize6:   30px;
$fontSize7:   10px;
$fontSize8:   16px;
$fontSize9:   52px;
